################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/e-commerce-application/FileContentIndex/14279a92-bbfa-41b3-88c8-1130c2814699.vsidx
/.vs/slnx.sqlite
